{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}
